extends layout

block vars
  - var title = 'Work sample test';
  - var name = 'home';

block content
  .home-nav-container
    .home-nav
      .home-nav-btn
        a.logo(href='netflix.html')
          img.logo(src='img/netflix/logo.png')
      .home-nav-btn
        a.logo(href='sdna.html')
          img.logo(src='img/sdna/logo.png')
